{% extends "base.html" %}
{% load blog_tags event_tags %}
{% load wagtailimages_tags static %}

{% block heading %}
  <div class="jumbotron">
      {% include "common/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
  </div>
{% endblock %}

{% block content %}
{# Facebook Embed code #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <br>
  	  {% blog_feature %}
  <div class="row">
    <div class="col-md-8 information-block">
      {% image self.small_image original as sm_img %}
      <img src="{{sm_img.url}}" class="center-block img-responsive" style="max-height:200px">
      <br>
      <br>
      {% include "common/includes/body.html" with body=self.body only %}
    </div>
    <div class="col-sm-4 pull-right">
      {% blog_listing %}
	  </div>
  </div>

  <br>

  <row>
    <div class="col-sm-4">
      {% event_listing %}
  	</div>
    {% if self.twitter_widget %}
    	<div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Tweets</h3></div>
          <div class="list-group" style="color:#ffffff">
            {{ self.twitter_widget | safe }}
          </div>
    	  </div>
      </div>
    {% endif %}

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Facebook Feed</h3></div>
          <div class="list-group" style="color:#ffffff">
            {{ self.facebook_widget | safe }}
          </div>
    	  </div>
      </div>
    </row>


{% endblock %}

{% block extra_js %}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
