{% extends "base.html" %}
{% load blog_tags event_tags %}


{% block heading %}
    <div class="jumbotron">
        <h1>{{ self.title }}</h1>
        <p>{{ self.intro }}</p>
    </div>
{% endblock %}


{% block content %}
    {% include "common/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% include "common/includes/body.html" with body=self.body only %}
	<div class="col-sm-4">
    {% blog_listing %}
	</div>
	<div class="col-sm-4">
    {% event_listing %}
	</div>


	
{% endblock %}
