/* Theming Variables */
:root {
--nlarts-canada:#F4333F;
--nlarts-bright-blue:#0047BB;
--nlarts-deep-blue:#011C48;
--nlarts-light-blue:#00768F;
--nlarts-aqua-blue: #13D0CA;
}

/* Theming */

/* Barlow font, google fonts import */
@@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,900&display=swap');

body {

	font-family: 'Barlow', sans-serif!important;
	color: var(--nlarts-deep-blue);

}

.h1, h1 {
	font-weight: 900 !important;
}

div {
	color: var(--nlarts-deep-blue);
}

.list-group-item{
	color: var(--nlarts-deep-blue)!important;

}

.jumbotron {
	background-color: var(--nlarts-deep-blue)!important;
}

#page-title {
	color: white;
	font-weight: 900;
}

#blog-feature {
	background-color: var(--nlarts-deep-blue);
}

.news-block {
	background-color: var(--nlarts-aqua-blue);
}

footer {
	background-color: var(--nlarts-deep-blue);
}

#read-btn {
	background-color: var(--nlarts-canada);
	border-color: var(--nlarts-canada);
}

ul.dropdown-menu {
	background-color: var(--nlarts-aqua-blue)!important;
}

ul.dropdown-menu li a {
	color: var(--nlarts-deep-blue)!important;
}


/* End Theming */

/* Adjustments */
#sidebar-logo {
	max-width: 90%!important;
}