{% extends "base.html" %}

{% block left_content %}
	<div class="row">
	<div class="col-md-12">
    {% include "common/includes/body.html" with body=self.body only %}
	</div>
	</div>
	<div class="row">
	<div class="col-md-12">
    {% include "common/includes/contact.html" with contact=self only %}
	</div>
	</div>
	<div class="row">
	<div class="col-md-12">
    {%  if self.post_code %}

    <div class="page-header"><h3>Map</h3></div>

		<img class="google-map" src="http://maps.googleapis.com/maps/api/staticmap?center={{ self.post_code }}&zoom=14&size=800x400&maptype=roadmap
&sensor=false&markers=color:green|{{ self.post_code }}" />
	{% endif %}
	</div>
	</div>
{% endblock %}
