{% extends "base.html" %}
{% load wagtailimages_tags static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'gallery/css/blueimp-gallery.min.css'">
{% endblock %}

{% block heading %}
  <div class="jumbotron">
      <h1>{{ self.title }}</h1>
      <p>{{ self.intro }}</p>
  </div>
{% endblock %}

{% block content %}

  {% include "common/includes/body.html" with body=self.biography only %}


  <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
  </div>

  <!-- Images in the gallery -->
  <div id="links">
    {% for galleryimage in self.simpleimage.all %}

      {# First store image as two variables #}
      {% image galleryimage.image max-80x80 as galleryicon %}
      {% image galleryimage.image width-400 as gallerylarge %}

      <a href="{{ gallerylarge.url }}" title="{{ gallerylarge.name }}">
        <img src="{{ galleryicon.url }}" alt="{{ galleryicon.alt }}">
      </a>
    {% endfor %}
  </div>


{% endblock %}


{% block extra_js %}
  <script src="{% static 'gallery/js/blueimp-gallery.min.js' %}"></script>

  <!-- Trying everything in desperation -->
  <script src="{% static 'gallery/js/blueimp-gallery.js' %}"></script>
  <script src="{% static 'gallery/js/blueimp-helper.js' %}"></script>



  <script>
  document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };
  </script>
{% endblock %}

</script>
