{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block left_content %}



<h4>Click the button below to being the payment process.</h4>
<h5> Please do not leave this page before process is complete.</h5>

<br>

{% if site_root.title == "Summit Synchro" %}
<form action="/payment/stripe/amount={{ page.payment_amount }}/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="thank_you_text" value="{{ page.thank_you_text }}"></input>
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_ctAzehFAZmN9t84hYpTYqXcS"
        data-amount="{{ page.payment_amount }}"
        data-name="Summit Synchro"
        data-description="{{ page.payment_description }}"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="cad">
    </script>
</form>
{% else %}
<form action="/payment/stripe/amount={{ page.payment_amount }}/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="thank_you_text" value="{{ page.thank_you_text }}"></input>
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_live_uDCRXAudQVruD7yjn7qPmmUF"
        data-amount="{{ page.payment_amount }}"
        data-name="SynchoNL"
        data-description="{{ page.payment_description }}"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="cad">
    </script>
</form>
{% endif %}

{% endblock %}
