{% load wagtailimages_tags wagtailembeds_tags %}

{% if sponsors %}

  <div id="sponsors">
    {% for sponsor in sponsors %}
      <div class="row">
        {# Sponsor image - first store image as a variable in order to construct an image tag with a title applied #}
        {% image sponsor.image max-200x200 as sponsorimagedata %}
        <div class="col-md-4 col-xs-12">
          <a href="{% if sponsor.link %}{{ sponsor.link }}{% else %}#{% endif %}">
            <img src="{{ sponsorimagedata.url }}" style="margin-left:auto;margin-right:auto;" alt="{{ sponsorimagedata.alt }}" class="thumbnail img-responsive">
          </a>
		    </div>
        <div class="col-md-8 col-xs-12"
          <p>{{ sponsor.text }}</p>
		    </div>
      </div>
    {% endfor %}
  </div>

{% endif %}
